<%- include ../partial/header.ejs %>

<section class="sign-form-section sign-in main-container  text-center account-created">
  <h2 class="green">Tu cuenta ha sido creada</h2>
  <img src="/static/img/account.png" alt="Account Created">
  <p>Un email de verificación ha sido enviado a</p>
  <p><a class="green" id="email"></a></p>
  <p>Por favor revisa tu casilla de correo para completar la registración</p>
</section>

<script type="text/javascript">
  window.addEventListener('load', function() {
    var params = getJsonFromUrl();
    $("#email").html(decodeURIComponent(params.email));
  });
</script>
<%- include ../partial/footer.ejs %>
