<%- include ../partial/header.ejs %>

<section class="sign-form-section sign-in main-container  text-center account-created">
  <h2 class="green">Cambia tu contraseña</h2>
  <form id="password-reset-form">
    <img src="/static/img/password-reset-big.png" style="height: 106px" alt="Confirm">
    <!--
    <div class="form-group animate-label">
      <input class="form-control" name="oldPassword" type="password">
      <label class="control-label">Contraseña anterior</label>
    </div>
    -->
    <div class="form-group animate-label">
      <input class="form-control" name="password" type="password">
      <label class="control-label">Nueva contraseña</label>
    </div>
    <div class="form-group animate-label nocontent">
      <input class="form-control" name="confirmation" type="password">
      <input class="form-control" name="csrf" type="hidden">
      <label class="control-label">Vuelve a ingresar la nueva contraseña</label>
    </div>
    <button class="btn-green green pointer" id="reset_submit">ACEPTAR</button>
  </form>
</section>

<%- include ../partial/footer.ejs %>

<script type="text/javascript">

  window.addEventListener('load', function() {

    document.getElementById('reset_submit').addEventListener('click', function(event){
      event.preventDefault();
      resetPassword();
    });

    function resetPassword() {
      var params = getJsonFromUrl();
      var form = document.getElementById("password-reset-form");

      if(form.password.value == '')
        return showMessage({
          type: 'error',
          title: 'No se especificó una contraseña ',
          msg: 'Por favor completa todos los campos.',
        });

      /*
      if(form.oldPassword.value == '')
        return showMessage({
          type: 'error',
          title: 'No se especificó su contraseña anterior',
          msg: 'Por favor completa todos los campos.',
        });
      */

      if(form.password.value !== form.confirmation.value)
        return showMessage({
          type: 'error',
          title: "Las contraseñas no coinciden",
          msg: 'Por favor revisa ambas contraseñas.',
        });

      if(!params.token || params.access_token)
        return showMessage({
          type: 'error',
          title: 'No Autorizado',
          msg: 'No se encontró el token de autorización, por favor reinicie el proceso de contraseña.',
        });

      fetch('<%=userPassReset%>', {
         method: 'POST',
         body: JSON.stringify({
           //oldPassword: form.oldPassword.value,
           password: form.password.value,
           confirmation: form.confirmation.value,
           token: params.token || params.access_token,
         }),
         credentials: 'include',
         headers: getHeaders()
       }).then((response) => {
         if (response.status == 401) {
           showMessage({
             type: 'error',
             title: 'Unauthorized',
             msg: 'Su token ha expirado, por favor reinicie el proceso de actualización de contraseña.',
           });
         } else if (response.status != 200 && response.status != 304) {
           showMessage({type: 'error', msg: message || 'Error actualizando contraseña!'});
         } else {
           showMessage({
             title: 'Contraseña actualizada',
             type: 'success',
             msg: 'La contraseña ha sido actualizada!'
           });
         }
       }).catch((error) => {
         showMessage({
           title: 'Contraseña no actualizada',
           type: 'error',
           msg: 'La contraseña no se ha actualizado!'
         });
       });
    }
});
</script>

<%- include ../partial/info-display-modal.ejs %>
