<%- include ../partial/header.ejs %>

<section class="sign-form-section sign-in main-container  text-center">
  <h2 class="green">Registrarse</h2>
  <form id="signup-form">
    <div class="form-group animate-label">
      <input autocomplete="off" name="email" class="form-control" type="text">
      <label class="control-label">Email</label>
    </div>
    <div class="form-group animate-label">
      <input name="password" class="form-control" type="password">
      <label class="control-label">Contraseña</label>
    </div>
    <small><input type="checkbox" id="terms" value="agreed"> Acepto los <a href="<%=pubTermsAndConditions%>">Términos y condiciones</a></small>
    <input name="csrf" type="hidden" value="">
    <span class="btn-green green pointer" id="signup">CREA TU CUENTA</span>
    <p>O registrarse con</p>
    <%- include ../partial/social-login.ejs %>
    <p>Ya tienes cuenta? <a href="login" id="signin">Ingresa aquí</a></p>
  </form>
</section>

<%- include ../partial/footer.ejs %>

<script type="text/javascript">

  window.addEventListener('load', function() {
    //redirect to login. HARDCODED WARNING
    document.getElementById('signin').addEventListener('click', function (event) {
      event.preventDefault()
      window.location = '/public/signin' + window.location.search
    })
    //Submit user & password button
    document.getElementsByName('password')[0].onkeyup = function(key){
      if(key.keyCode == 13) signup();
    };
    document.getElementById('signup').addEventListener('click', function(event){
      event.preventDefault();
      signup();
    });
  });

  function signup() {
    var params = getJsonFromUrl();
    var form = document.getElementById('signup-form');

    if(form.email.value == '')
      return showMessage({
        type: 'error',
        msg: 'Debe completar su email!'
      });

    if(!form.terms.checked)
      return showMessage({
        type: 'error',
        msg: 'Debe aceptar los términos y condiciones para poder registrarse.'
      });

    const data = {
      email: form.email.value,
      password: form.password.value,
      licenseAgreement: form.terms.checked,
      csrf: form.csrf.value
    };

    fetch('<%=pubRegister%>', {
      method: 'POST',
      credentials: 'include',
      body: JSON.stringify(data),
      headers: getHeaders()
    }).then((response) => {
      return response.json();
    }).then(function(response) {
      if (response.error == 'DUPLICATED_USER')
        throw new Error("El email provisto ya se encuentra registrado");
      else if (response.error)
        throw new Error("Error al registrar el usuario");
      else
        window.location.replace("<%=pubAccountCreated%>?email=" + encodeURIComponent(data.email));
    }).catch((error) => {
      return showMessage({
        type: 'error',
        msg: error.message
      });
    });
  }
</script>

<%- include ../partial/info-display-modal.ejs %>
