<%- include ../partial/header.ejs %>

<section class="sign-form-section sign-in main-container  text-center">
  <h2 class="green">Ingresar</h2>
  <form id="signin-form">
    <div class="form-group animate-label">
      <input autocomplete="off" name="email" class="form-control" type="text">
      <label class="control-label">Email</label>
    </div>
    <div class="form-group animate-label nocontent">
      <input name="password" class="form-control" type="password">
      <input name="csrf" type="hidden" value="">
      <label class="control-label">Contraseña</label>
    </div>
    <span class="btn-green green pointer" id="signin">INGRESAR</span>
    <small class="green pointer" id="reset-password">¿Olvidó su contraseña?</small>
    <small class="green pointer" id="resend-confirmation">Reenviar email de confirmación</small>
    <p>o</p>
    <%- include ../partial/social-login.ejs %>
    <p>No tienes cuenta? <a href="signup" id="signup">Registrate aquí</a></p>
  </form>
</section>

<%- include ../partial/footer.ejs %>

<script type="text/javascript">

  window.addEventListener('load', function() {
    const params = getJsonFromUrl();
    const clientId = params.clientId;
    if(!clientId) {
      showMessage({
        title: 'Id de aplicación no encontrado',
        type: 'error',
        msg: 'Por favor, revise los parametros de la URL.'
      });
    }

    //Handle redirect if allready loged in
     if(<%=session.authorized%>)
       window.location.replace("<%=oauthImplicit%>?clientId=" + clientId);

     //redirect to signup. HARDCODED WARNING
     document.getElementById('signup').addEventListener('click', function (event) {
       event.preventDefault()
       window.location = '/public/signup' + window.location.search
     })

    //Reset password button
    document.getElementById('reset-password').addEventListener('click', function(event){
        event.preventDefault();

        var data = getFormData();
        if(data.error)
          return showMessage({
            title: 'Informacion no encontrada',
            type: 'error',
            msg: data.error
          })

      fetch('<%=userPassResetEmail%>', {
        method: 'POST',
        credentials: 'include',
        body: JSON.stringify(data),
        headers: getHeaders()
      }).then(function(response) {
        if(response.status != 200 || response.status != 304)
          showMessage({
            title: 'Error al enviar el email',
            type: 'error',
            msg: message || 'Ocurrió un error al enviar el mail de recupero de contraseña, por favor intentelo nuevamente!'
          });
        else
          showMessage({
            type: 'success',
            title: 'Email enviado',
            msg: 'Acabamos de enviarle un email para cambiar su contraseña, revise su casilla de correo.',
          })
      }).catch((error) => {
        showMessage({
          title: 'Error enviando email',
          type: 'error',
          msg: message || 'Ocurrió un error al enviar el email de recupero de contraseña, por favor intentelo nuevamente!'
        });
      });
    });

    //Resend user verification email
    document.getElementById('resend-confirmation').addEventListener('click', function(event) {
      event.preventDefault();

      var data = getFormData();
      if(data.error)
        return showMessage({type: 'error', msg: data.error})

      fetch('<%=pubAccountVerifyEmail%>', {
        method: 'POST',
        credentials: 'include',
        body: JSON.stringify(data),
        headers: getHeaders()
      }).then(function(response) {
        if(response.status != 200 && response.status != 304)
          showMessage({type: 'error', msg: 'Error al enviar el email de verificación!'});
        else
        showMessage({type: 'success', msg: 'Se ha enviado un email a su casilla de correo!'});
      }).catch((error) => {
        showMessage({type: 'error', msg: 'Error al enviar el email de verificación.'})
      });
    });

    //Submit user & password button
    document.getElementsByName('password')[0].onkeyup = function(key){
      if(key.keyCode == 13) signin(clientId);
    };
    document.getElementById('signin').addEventListener('click', function(event){
      event.preventDefault();
      signin(clientId);
    });
  });


  function signin(clientId) {
    var data = getFormData();
    if(data.error)
      return showMessage({type: 'error', msg: data.error});

      fetch('<%=authLocal%>', {
      	method: 'POST',
      	redirect: 'manual',
        credentials: 'include',
        body: JSON.stringify({
          username: data.email,
          password: data.password,
          csrf: data.csrf
        }),
      	headers: new Headers({
      		'Content-Type': 'application/json',
          'Authorization': 'Basic ' + btoa( [data.email, data.password].join(':') )
      	})
      }).then(function(response) {
        if(response.status == 401 || response.status == 400)
          showMessage({
            title: 'Usuario o contraseña inválido',
            type: 'error',
            msg: 'Por favor, revise su usuario y contraseña.'
          })
        else
          window.location.replace("<%=oauthImplicit%>?clientId=" + clientId);
      });
  }

  function getFormData() {
    var form = document.getElementById('signin-form');
    if(form.email.value == '')
      return {'error': 'Por favor, complete el campo email'};

    return {
      email: form.email.value,
      password: form.password.value,
      csrf: form.csrf.value
    }
  }
</script>

<%- include ../partial/info-display-modal.ejs %>
