<%- include ../partial/header.ejs %>

<section class="sign-form-section sign-in main-container  text-center account-created">
  <div class="verifying">
    <h2 class="green">Verificando cuenta</h2>
    <i class="fa fa-circle-o-notch fa-spin" style="font-size:58px"></i>
  </div>

  <div class="verified" style="display: none">
    <h2 class="green">Su cuenta ha sido verificada</h2>
    <img src="/static/img/confirm.png" alt="Confirmed">
    <p>Ya puede <a href="#" id="backToLogin"> ingresar </a> </p>
  </div>

  <div class="no-verified" style="display: none">
    <h2 class="green">Su cuenta no pudo ser verificada</h2>
    <p>Su token ha expirado, intente solicitando un nuevo mail de confirmación haciendo click
      <a href="#" id="goToLogin">aquí</a> </p>
    </p>
  </div>
</section>

<%- include ../partial/footer.ejs %>

<script type="text/javascript">
  window.addEventListener('load', function() {

    const params = getJsonFromUrl();

    document.getElementById('goToLogin').addEventListener('click', function(event){
      event.preventDefault();
      window.location.replace('<%=pubSigninForm%>?clientId='+params.clientId);
    });

    document.getElementById('backToLogin').addEventListener('click', function(event){
      event.preventDefault();
      window.location.replace('<%=pubSigninForm%>?clientId='+params.clientId);
    });

    fetch('<%=pubAccountVerify%>', {
      method: 'POST',
      credentials: 'include',
      body: JSON.stringify({
        uid: params.uid,
        token: params.token
      }),
      headers: getHeaders()
    }).then(function(response) {
      $('.verifying').hide();
      if(response.status != 200)
        $('.no-verified').show();
      else
        $('.verified').show();
    }).catch(function(error){
        $('.verifying').hide();
        $('.no-verified').show();
    });

  });
</script>
