<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="padding-bottom: 0px">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
      <div class="modal-body">
        <h4 id="modal-title"></h4><br>
        <p id="modal-message"></p>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  function showMessage(opts){
    var title;
    var msg = opts.msg || '';
    var type = opts.type || 'error';

    if(opts.title)
      title = opts.title;
    else
      title = type == 'error' ? 'Error' : 'Success';

    if(type == 'error')
      $("#modal-title").addClass('red');
    else
      $("#modal-title").addClass('green');

    $("#modal-title").html(title);
    $("#modal-message").html(msg);

    $('#myModal').modal('show');
  }
</script>
