<span class="btn-fb pointer social-signin facebook">Facebook</span>
<span class="btn-gp pointer social-signin google">Google +</span>

<script type="text/javascript">
  window.addEventListener('load', function() {
    //Render the social login buttons
    <% for(var i=0; i<social.length; i++) {%>
      document.querySelectorAll('.social-signin.<%=social[i].name%>')[0].onclick = function(event){
        window.location.replace("<%=social[i].path%>");
      }
    <% } %>
  });
</script>
