    <footer>
      <div class="footer-bot text-center">
        <p>&copy; Auth-Service</p>
      </div>
    </footer>
    <!-- SCRIPTS -->
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="/static/js/custom.js"></script>
  </body>
</html>
