<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <!-- TITLE OF SITE -->
    <title>Auth Service</title>

    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- =========================
          FAV AND TOUCH ICONS
    ============================== -->
    <!-- <link rel="apple-touch-icon" sizes="180x180" href="/static/img/apple-touch-icon.png"> -->
    <link rel="icon" type="image/x-icon" sizes="256x256" href="/static/img/favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon16x16.png">
    <link rel="manifest" href="/static/img/manifest.json">
    <!-- <link rel="mask-icon" href="/static/img/safari-pinned-tab.svg" color="#5bbad5"> -->
    <meta name="theme-color" content="#ffffff">

    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,400italic,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/css/animate.css">
    <link rel="stylesheet" href="/static/css/phi.css">
  </head>

  <body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top text-center">
      <h1>Auth-Service</h1>
    </nav>
