<%- include ../partial/header.ejs %>

<section class="sign-form-section sign-in text-center account-created">
  <h2 class="green">Your account has been created</h2>
  <img src="/static/img/account.png" alt="Account Created">
  <p>A verification email has been sent to</p>
  <p><a class="green" id="email"></a></p>
  <p>Please check your inbox to complete account activation</p>
</section>

<script type="text/javascript">
  window.addEventListener('load', function() {
    var params = getJsonFromUrl();
    $("#email").html(decodeURIComponent(params.email));
  });
</script>
<%- include ../partial/footer.ejs %>
