<%- include ../partial/header.ejs %>
<section class="sign-form-section sign-in text-center account-created">
    <h2 class="green">My account</h2>
       <div class="account">

       <div class="loading">
         <i class="fa fa-circle-o-notch fa-spin" style="font-size:58px"></i>
         <h3>Loading account info...</h3></br>
       </div>

       <div class="loading-error" style="display:none">
         <h3 class="red">Error loading account data</h2>
         <p class="text-center">Sorry, your session may be expired, please try again.</p>
       </div>

       <div class="account-info" style="display:none">
         <img src="/static/img/ico-register-bis.png" style="height: 106px;" alt="two-factor">


          <form id="profile-form">
            <h3>Profile</h3></br>
            <div class="form-group">
              <label class="control-label">Username</label>
              <input name="username" class="form-control" type="text" DISABLED/>
            </div>

            <div class="form-group">
              <label class="control-label">Email</label>
              <input name="email" class="form-control" type="text" DISABLED/>
            </div>

            <div class="form-group">
              <label class="control-label">Role</label>
              <input name="role" class="form-control" type="text" DISABLED/>
            </div>

          </br></br>

          <h3>My Apps</h3></br>
          <div class="form-group">
            <ul id="apps-list"></ul>
          </div>

          </br></br>

          <h3>My Sessions</h3></br>
          <div class="form-group">
            <ul id="session-list"></ul>
          </div>
      </form>
    </div>
  </div>
</section>
<%- include ../partial/footer.ejs %>

<script type="text/javascript">

  window.addEventListener('load', function() {

    Promise.all([
      getProfile(),
      getApps(),
      getSessions()
    ]).then(function(me) {
      const profile = me[0].profile;
      const apps = me[1];
      const sessions = me[2];

      $("input[name='username']").val(profile.username);
      $("input[name='email']").val(profile.email);
      $("input[name='role']").val(profile.roles.join(', '));

      apps.forEach(function(app){
        var html = `<li>
          name: ${app.client.name} </br>
          <a href="#" token="${app.id}">Delete app</a>
        </li>`;
        $('#apps-list').append(html);
      });

      sessions.forEach(function(session){
        var html = `<li>
          <p>
          Browser: ${session.agent.browser && session.agent.browser.name ? session.agent.browser.name + ' ' + session.agent.browser.major: ' - '} </br>
          OS: ${session.agent.os.name && session.agent.os.version ? session.agent.os.name + ' ' + session.agent.os.version : ' - '} </br>
          Device: ${session.agent.device && session.agent.device.model ? session.agent.device.model : ' - '} </br>
          Created: ${new Date(session.created).toISOString()} </br>

          <a href="#" class="session-destroy" token="${session.token}">Destroy session</a>
          </p>
        </li>`;
        $('#session-list').append(html);
      });

      $('.session-destroy').on('click', function(event){
        event.preventDefault();
        event.stopPropagation();
        let token = $(event.target).attr('token');
        destroySession(token).then(() => {
          location.reload()
        }).catch((error) => {
          console.log(error);
        });
      });

      $('.loading').hide();
      $('.account-info').show();
    }).catch(function(error) {
      $('.loading').hide();
      $('.loading-error').show();
    });

    function destroySession(token){
      return fetch('<%=oauthDestroy%>', {
        method: 'POST',
        body: JSON.stringify({token: token}),
        credentials: 'include',
        headers: getHeaders()
      }).then((response) => {
        if (response.status != 200 && response.status != 304)
          throw new Error("Error obtaining active sessions");
        return response.json();
      });
    }

    function getProfile(){
      return fetch('<%=userFetchProfile%>', {
        method: 'GET',
        credentials: 'include',
        headers: getHeaders()
      }).then((response) => {
        if (response.status != 200 && response.status != 304)
          throw new Error("Error obtaining profile data");
        return response.json();
      });
    }

    function getSessions(){
      return fetch('<%=userFetchSessions%>', {
        method: 'GET',
        credentials: 'include',
        headers: getHeaders()
      }).then((response) => {
        if (response.status != 200 && response.status != 304)
          throw new Error("Error obtaining active sessions");
        return response.json();
      });
    }

    function getApps(){
      return fetch('<%=userFetchApps%>', {
        method: 'GET',
        credentials: 'include',
        headers: getHeaders()
      }).then((response) => {
        if (response.status != 200 && response.status != 304)
          throw new Error("Error obtaining associated client applications");
        return response.json();
      });
    }

  });
</script>

<%- include ../partial/info-display-modal.ejs %>
