<%- include ../partial/header.ejs %>

<section class="sign-form-section sign-in text-center account-created">
  <h2 class="green">Reset your password</h2>
  <form id="password-reset-form">
    <img src="/static/img/password-reset-big.png" style="height: 106px" alt="Confirm">
    <div class="form-group animate-label">
      <input class="form-control" name="password" type="password">
      <label class="control-label">New password</label>
    </div>
    <div class="form-group animate-label nocontent">
      <input class="form-control" name="confirmation" type="password">
      <input class="form-control" name="csrf" type="hidden">
      <label class="control-label">Re type your password</label>
    </div>
    <button class="btn btn-cyan cyan pointer" id="reset_submit">RESET PASSWORD</button>
  </form>
</section>

<%- include ../partial/footer.ejs %>

<script type="text/javascript">

  window.addEventListener('load', function() {

    document.getElementById('reset_submit').addEventListener('click', function(event){
      event.preventDefault();
      resetPassword();
    });

    function resetPassword() {
      var params = getJsonFromUrl();
      var form = document.getElementById("password-reset-form");

      if(form.password.value == '')
        return showMessage({
          type: 'error',
          title: 'No password specified ',
          msg: 'Please fill all inputs with the new password.',
        });

      if(form.password.value !== form.confirmation.value)
        return showMessage({
          type: 'error',
          title: "Passwords doesn't match",
          msg: 'Please check both inputs password.',
        });

      if(!params.access_token)
        return showMessage({
          type: 'error',
          title: 'Unauthorized',
          msg: 'Your access token is missing, please restart the password recover process.',
        });

      fetch('<%=userFetchApps%>', {
         method: 'POST',
         body: JSON.stringify({
           password: form.password.value,
           confirmation: form.confirmation.value,
           accessToken: params.access_token
         }),
         credentials: 'include',
         headers: getHeaders()
       }).then((response) => {
         if (response.status == 401) {
           showMessage({
             type: 'error',
             title: 'Unauthorized',
             msg: 'Your access token may be expired, please restart the password recover process.',
           });
         } else if (response.status != 200 && response.status != 304) {
           showMessage({type: 'error', msg: message || 'Error updating password!'});
         } else {
           showMessage({
             title: 'Password changed',
             type: 'success',
             msg: 'The password has successfully been updated!'
           });
         }
       }).catch((error) => {
         showMessage({
           title: 'Password changed',
           type: 'success',
           msg: 'The password has successfully been updated!'
         });
       });
    }
});
</script>

<%- include ../partial/info-display-modal.ejs %>
