<%- include ../partial/header.ejs %>

<section class="sign-form-section sign-in text-center">
  <h2 class="green">Sign In</h2>
  <form id="signin-form">
    <div class="form-group animate-label">
      <input name="email" class="form-control" type="text">
      <label class="control-label">Email</label>
    </div>
    <div class="form-group animate-label nocontent">
      <input name="password" class="form-control" type="password">
      <input name="csrf" type="hidden" value="">
      <label class="control-label">Password</label>
    </div>
    <span class="btn-green green pointer" id="signin">SIGN IN</span>
    <small class="green pointer" id="reset-password">Forgot your password?</small>
    <small class="green pointer" id="resend-confirmation">Resend confirmation</small>
    <p>or</p>
    <%- include ../partial/social-login.ejs %>
  </form>
</section>

<%- include ../partial/footer.ejs %>

<script type="text/javascript">

  window.addEventListener('load', function() {
    const params = getJsonFromUrl();
    const clientId = params.clientId;
    if(!clientId) {
      showMessage({
        title: 'Missing app key',
        type: 'error',
        msg: 'Please, check your the uri parameters.'
      });
    }

    //Handle redirect if allready loged in
     if(<%=session.authorized%>)
       window.location.replace("<%=oauthImplicit%>?clientId=" + clientId);

    //Reset password button
    document.getElementById('reset-password').addEventListener('click', function(event){
        event.preventDefault();

        var data = getFormData();
        if(data.error)
          return showMessage({
            title: 'Missing information',
            type: 'error',
            msg: data.error
          })

      fetch('<%=userPassResetEmail%>', {
        method: 'POST',
        credentials: 'include',
        body: JSON.stringify(data),
        headers: getHeaders()
      }).then(function(response) {
        if(response.status != 200 || response.status != 304)
          showMessage({
            title: 'Error sending email',
            type: 'error',
            msg: message || 'An error has ocurred when trying to send you the password reset email, please try again later!'
          });
        else
          showMessage({
            type: 'success',
            title: 'Email Sent',
            msg: 'We just send you an email, check your inbox to reset your password.!',
          })
      }).catch((error) => {
        showMessage({
          title: 'Error sending email',
          type: 'error',
          msg: message || 'An error has ocurred when trying to send you the password reset email, please try again later!'
        });
      });
    });

    //Resend user verification email
    document.getElementById('resend-confirmation').addEventListener('click', function(event) {
      event.preventDefault();

      var data = getFormData();
      if(data.error)
        return showMessage({type: 'error', msg: data.error})

      fetch('<%=pubAccountVerifyEmail%>', {
        method: 'POST',
        credentials: 'include',
        body: JSON.stringify(data),
        headers: getHeaders()
      }).then(function(response) {
        if(response.status != 200 && response.status != 304)
          showMessage({type: 'error', msg: 'Error sending email!'});
        else
          showMessage({type: 'success', msg: 'Email sent!'});
      }).catch((error) => {
        showMessage({type: 'error', msg: 'Error sending email!'})
      });
    });

    //Submit user & password button
    document.getElementsByName('password')[0].onkeyup = function(key){
      if(key.keyCode == 13) signin(clientId);
    };
    document.getElementById('signin').addEventListener('click', function(event){
      event.preventDefault();
      signin(clientId);
    });
  });


  function signin(clientId) {
    var data = getFormData();
    if(data.error)
      return showMessage({type: 'error', msg: data.error});

      fetch('<%=authLocal%>', {
      	method: 'POST',
      	redirect: 'manual',
        credentials: 'include',
        body: JSON.stringify({
          username: data.email,
          password: data.password,
          csrf: data.csrf
        }),
      	headers: new Headers({
      		'Content-Type': 'application/json',
          'Authorization': 'Basic ' + btoa( [data.email, data.password].join(':') )
      	})
      }).then(function(response) {
        if(response.status == 401 || response.status == 400)
          showMessage({
            title: 'Invalid user or password',
            type: 'error',
            msg: 'Please, check your username and password.'
          })
        else
          window.location.replace("<%=oauthImplicit%>?clientId=" + clientId);
      });
  }

  function getFormData() {
    var form = document.getElementById('signin-form');
    if(form.email.value == '')
      return {'error': 'Please fill in the email input!'};

    return {
      email: form.email.value,
      password: form.password.value,
      csrf: form.csrf.value
    }
  }
</script>

<%- include ../partial/info-display-modal.ejs %>
