<%- include ../partial/header.ejs %>

<section class="sign-form-section sign-in text-center">
  <h2 class="green">Sign Up</h2>
  <form id="signup-form">
    <div class="form-group animate-label">
      <input name="email" class="form-control" type="text">
      <label class="control-label">Email</label>
    </div>
    <div class="form-group animate-label">
      <input name="password" class="form-control" type="password">
      <label class="control-label">Password</label>
    </div>
    <small><input type="checkbox" id="terms" value="agreed"> I agree with Phi's <a href="<%=pubTermsAndConditions%>">Terms of Use &amp; Privacy Policy</a></small>
    <input name="csrf" type="hidden" value="">
    <span class="btn-green green pointer" id="signup">SIGN UP</span>
    <p>or Sign Up with</p>
    <%- include ../partial/social-login.ejs %>
  </form>
</section>

<%- include ../partial/footer.ejs %>

<script type="text/javascript">

  window.addEventListener('load', function() {
    //Submit user & password button
    document.getElementsByName('password')[0].onkeyup = function(key){
      if(key.keyCode == 13) signup();
    };
    document.getElementById('signup').addEventListener('click', function(event){
      event.preventDefault();
      signup();
    });
  });

  function signup() {
    var params = getJsonFromUrl();
    var form = document.getElementById('signup-form');

    if(form.email.value == '')
      return showMessage({
        type: 'error',
        msg: 'Specify your email!'
      });

    if(!form.terms.checked)
      return showMessage({
        type: 'error',
        msg: 'Terms and conditions must be accepted in order to register.'
      });

    const data = {
      email: form.email.value,
      password: form.password.value,
      licenseAgreement: form.terms.checked,
      csrf: form.csrf.value
    };

    fetch('<%=pubRegister%>', {
      method: 'POST',
      credentials: 'include',
      body: JSON.stringify(data),
      headers: getHeaders()
    }).then((response) => {
      return response.json();
    }).then(function(response) {
      if (response.error == 'DUPLICATED_USER')
        throw new Error("The email its already registered");
      else if (response.error)
        throw new Error("Error registering user");
      else
        window.location.replace("<%=pubAccountCreated%>?email=" + encodeURIComponent(data.email));
    }).catch((error) => {
      return showMessage({
        type: 'error',
        msg: error.message
      });
    });
  }
</script>

<%- include ../partial/info-display-modal.ejs %>
