<%- include ../partial/header.ejs %>

<section class="sign-form-section sign-in text-center account-created">
  <div class="verifying">
    <h2 class="green">Verifying your account</h2>
    <i class="fa fa-circle-o-notch fa-spin" style="font-size:58px"></i>
  </div>

  <div class="verified" style="display: none">
    <h2 class="green">Your account has been verified</h2>
    <img src="/static/img/confirm.png" alt="Confirmed">
    <p>Go ahead and <a href="#" id="backToLogin"> login </a> </p>
  </div>

  <div class="no-verified" style="display: none">
    <h2 class="green">Your account couldn't be verified</h2>
    <p>Your token may have expired, try requesting a new confirmation email
      <a href="#" id="goToLogin">here</a> </p>
    </p>
  </div>
</section>

<%- include ../partial/footer.ejs %>

<script type="text/javascript">
  window.addEventListener('load', function() {

    const params = getJsonFromUrl();

    document.getElementById('goToLogin').addEventListener('click', function(event){
      event.preventDefault();
      window.location.replace('<%=pubSigninForm%>?clientId='+params.clientId);
    });

    document.getElementById('backToLogin').addEventListener('click', function(event){
      event.preventDefault();
      window.location.replace('<%=pubSigninForm%>?clientId='+params.clientId);
    });

    fetch('<%=pubAccountVerify%>', {
      method: 'POST',
      credentials: 'include',
      body: JSON.stringify({
        uid: params.uid,
        token: params.token
      }),
      headers: getHeaders()
    }).then(function(response) {
      $('.verifying').hide();
      if(response.status != 200)
        $('.no-verified').show();
      else
        $('.verified').show();
    }).catch(function(error){
        $('.verifying').hide();
        $('.no-verified').show();
    });

  });
</script>
