<%- include ../partial/header.ejs %>
<section class="sign-form-section sign-in text-center account-created">
    <h2 class="green">Missing page translation!</h2>
</section>
<%- include ../partial/footer.ejs %>
