<%- include ../partial/header.ejs %>
<section class="sign-form-section sign-in main-container  text-center account-created">
    <h2 class="green">Configuración de autenticación de 2 pasos</h2>
       <div class="two-factor">

        <div class="loading">
          <i class="fa fa-circle-o-notch fa-spin" style="font-size:58px"></i>
          <h3>Cargando configuración</h3></br>
        </div>

        <div class="loading-error" style="display:none">
          <h3 class="red">Error al cargar configuración</h2>
          <p class="text-center">Lo sentimos, no hemos podido obtener su configuración, por favor intentente recargando esta página.</p>
        </div>

        <div class="two-factor-enabled" style="display:none">
          <img src="/static/img/password-reset-big.png" style="height: 106px;" alt="two-factor">
          <h3>Activaste la autenticación de dos pasos exitosamente</h3></br>
          <div class="form-group">
            <span id="disable" class="green-border big-btn"></span>
          </div>
        </div>

        <div class="two-factor-disabled" style="display:none">
          <img src="/static/img/password-reset-big.png" style="height: 106px;" alt="two-factor">
          <h3>Elija una estrategia de autenticación</h3></br>
          <div class="form-group">
            <span id="enable-totp" class="green-border green-bg big-btn">GOOGLE APP</span>
            <p class="text-center">Use la aplicación
              <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2">Google Authenticator</a>
              para generar el token de autenticación
            </p>

            <!-- <span id="enable-sms" class="green-border green-bg big-btn">SMS</span>
            <p class="text-center">Reciba un SMS con el token de autenticación.</p> -->
          </div>
        </div>

        <span id="go-back" class="green-border big-btn">VOLVER</span>
      </div>
</section>
<%- include ../partial/footer.ejs %>

<script type="text/javascript">

  window.addEventListener('load', function() {
    fetch('<%=mfaFetch%>', {
      method: 'GET',
      credentials: 'include',
      headers: getHeaders()
    }).then(function(response) {
      if(response.status != 200 && response.status != 304)
        throw new Error("Error al obtener la configuration de 2 pasos");
      return response.json();
    }).then(function(twoFactor) {
      $(".loading").hide();
      if(twoFactor.config){
        $(".two-factor-enabled").show();
        $("#disable").html("DESHABILITAR");
      }else{
        $(".two-factor-disabled").show();
      }
    }).catch(function(error){
      $(".loading").hide();
      $(".loading-error").show();
    });


    document.getElementById('disable').onclick = function(event) {
      fetch('<%=mfaDisable%>', {
        method: 'POST',
        credentials: 'include',
        headers: getHeaders()
      }).then((response) => {
        if(response.status != 200 && response.status != 304)
          showMessage({
            title: 'Error',
            type: 'error',
            msg: 'Error al intentar desactivar la autenticación  de 2 pasos'
          });
        else
          window.location.reload();
      }).catch((error) => {
        showMessage({
          title: 'Error',
          type: 'error',
          msg: 'Error al intentar desactivar la autenticación  de 2 pasos'
        });
      });
    };

    document.getElementById('enable-totp').onclick = function(event){
      window.location.replace('<%=mfaTOTPForm%>' + getQueryString());
    };

    // document.getElementById('enable-sms').onclick = function(event){
    //   window.location.replace('<%=mfaSMSForm%>' + getQueryString());
    // };

    document.getElementById('go-back').onclick = function(event){
      window.location.replace('<%=oauthImplicit%>');
    };
  });
</script>
