<%- include ../partial/header.ejs %>
<section class="sign-form-section sign-in main-container  text-center account-created">
    <h2 class="green">Activaste la autenticación de dos pasos exitosamente</h2>
       <div class="two-factor">
        <img data-hook="qr-svg" class="qr-svg"/>
        <h4 id="qr-text"></h4>
        <h3>Por favor valide su token</h3></br>
        <form id="totp-form">
          <div class="form-group animate-label nocontent">
             <input name="code" class="form-control" type="text">
             <label class="control-label">Código</label>
          </div>
          <span id="confirm" class="btn-green green-border big-btn">GUARDAR</span>
          <span id="go-back" class="green-border big-btn">VOLVER</span>
        </form>
      </div>
</section>
<%- include ../partial/footer.ejs %>

<script type="text/javascript">

  window.addEventListener('load', function() {
    var params = getJsonFromUrl();
    document.querySelectorAll('[data-hook="qr-svg"]')[0].setAttribute('src', ('<%=mfaQRFetch%>' + getQueryString()));

    fetch('<%=mfaCodeFetch%>', {
      method: 'GET',
      credentials: 'include',
      headers: getHeaders()
    }).then(function(response) {
      if(response.status != 200 && response.status != 304)
        throw new Error("Error obtaining two-factor configuration");
      return response.json();
    }).then(function(twoFactor) {
      $('#qr-text').html(twoFactor.code);
    }).catch(function(error){
    });

    document.getElementById('confirm').addEventListener('click', function(event){
      var form = document.getElementById('totp-form');
      fetch('<%=mfaTOTPEnable%>', {
        method: 'POST',
        credentials: 'include',
        body: JSON.stringify({ totp: form.code.value }),
        headers: getHeaders()
      }).then(function(response) {
        if(response.status == 401)
          showMessage({
            title: 'No Autorizado',
            type: 'error',
            msg: 'Su token puede haber expirado, por favor ingrese nuevamente.'
          })
        if(response.status != 200)
          showMessage({
            title: 'Codigó invalido',
            type: 'error',
            msg: 'Por favor, revise su código.'
          })
        else
          window.location.replace("<%=mfaForm%>");
      });
    });

    document.getElementById('go-back').onclick = function(event){
      window.location.replace('<%=mfaForm%>');
    };

  });
</script>

<%- include ../partial/info-display-modal.ejs %>
