<%- include ../partial/header.ejs %>
<section class="sign-form-section sign-in main-container  text-center account-created">
    <h2 class="green">Activaste la autenticación de dos pasos exitosamente</h2>
       <div class="two-factor">
        <h3>Por favor valide su token</h3></br>
        <form id="totp-form">
          <div class="form-group animate-label">
            <input name="phoneNumber" class="form-control" type="text">
            <label class="control-label">Número telefónico</label>
            <span id="send-code" class="send green text-uppercase pointer">Enviar</span>
          </div>
          <div class="form-group animate-label nocontent">
             <input name="code" class="form-control" type="text">
             <label class="control-label">Código</label>
          </div>
          <span id="confirm" class="btn-green green-border big-btn">GUARDAR</span>
          <span id="go-back" class="green-border big-btn">VOLVER</span>
        </form>
      </div>
</section>
<%- include ../partial/footer.ejs %>

<script type="text/javascript">

  window.addEventListener('load', function() {
    document.getElementById('send-code').addEventListener('click', function(event){
      var form = document.getElementById('totp-form');

      fetch('<%=mfaSMScode%>', {
        method: 'POST',
        credentials: 'include',
        body: JSON.stringify({ phoneNumber: form.phoneNumber.value }),
        headers: getHeaders()
      }).then(function(response) {
        if(response.status == 401)
          showMessage({
            title: 'No Autorizado',
            type: 'error',
            msg: 'Su token puede haber expirado, por favor ingréselo nuevamente.'
          })
        if(response.status != 200)
          showMessage({
            title: 'Número telefónico invalido',
            type: 'error',
            msg: 'Por favor, revise su número telefónico.'
          })
        else
          showMessage({
            title: 'Token enviado',
            type: 'success',
            msg: 'Se ha enviado un SMS con su token.'
          })
      }).catch((e) => {
        showMessage({
          title: 'Error Inesperado',
          type: 'error',
          msg: 'Por favor, inténtelo nuevamente.'
        })
      });
    });

    document.getElementById('confirm').addEventListener('click', function(event){
      var form = document.getElementById('totp-form');

      fetch('<%=mfaSMSEnable%>', {
        method: 'POST',
        credentials: 'include',
        body: JSON.stringify({
          totp: form.code.value,
          phoneNumber: form.phoneNumber.value
        }),
        headers: new Headers({
          'Content-Type': 'application/json',
          'api_key': '<%=apiKey%>',
        })
      }).then(function(response) {
        if(response.status == 401)
          showMessage({
            title: 'No Autorizado',
            type: 'error',
            msg: 'Su token puede haber expirado, por favor ingreselo nuevamente.'
          })
        if(response.status != 200)
          showMessage({
            title: 'Token Inválido',
            type: 'error',
            msg: 'Por favor, intente nuevamente con un nuevo código.'
          })
        else
          window.location.replace("<%=mfaForm%>");
        }).catch((e) => {
          showMessage({
            title: 'Error Inesperado',
            type: 'error',
            msg: 'Por favor, inténtelo nuevamente.'
          })
        });
    });

    document.getElementById('go-back').onclick = function(event){
      window.location.replace('<%=mfaForm%>');
    };
  });
</script>

<%- include ../partial/info-display-modal.ejs %>
