<%- include ../partial/header.ejs %>
<section class="sign-form-section sign-in main-container  text-center account-created">
    <h2 class="green">Ingrese el código de autenticación</h2>
       <div class="two-factor">

       <div class="loading-error" style="display:none">
         <h3 class="red">Error cargando token</h2>
         <p class="text-center">Su token parece haber expirado, proceda a la página de ingreso</p>
       </div>

        <div class="two-factor-submit">
          <img src="/static/img/password-reset-big.png" style="height: 106px;" alt="two-factor">
          <h3>Por favor valide su token</h3></br>
          <form id="mfa-form">
            <div class="form-group animate-label nocontent">
               <input name="code" class="form-control" type="text">
               <label class="control-label">Código</label>
             </div>
             <span id="resend-code" style="display:none" class="btn-green green-border small-btn">REENVIAR CÓDIGO</span>
             <span id="confirm" class="btn-green green-border big-btn">ACEPTAR</span>
          </form>
        </div>

      </div>
</section>
<%- include ../partial/footer.ejs %>

<script type="text/javascript">

  window.addEventListener('load', function() {
    const params = getJsonFromUrl();
    if(params.grant == 'sms'){
      sendSMSCode();
      $("#resend-code").show();
    }

    function sendSMSCode(showAlert){
      fetch('<%=mfaSMScode%>', {
        method: 'POST',
        credentials: 'include',
      }).then(function(response) {
        if(!showAlert) return false;
        if(response.status == 401)
          showMessage({
            title: 'No Autorizado',
            type: 'error',
            msg: 'Su token puede haber expirado, por favor ingrese nuevamente.'
          })
        if(response.status != 200)
          showMessage({
            title: 'Error Inesperado',
            type: 'error',
            msg: 'Por favor, inténtelo nuevamente.'
          })
        else
          showMessage({
            title: 'Token enviado',
            type: 'success',
            msg: 'Se ha enviado un SMS con su token.'
          })
      }).catch((e) => {
        if(!showAlert) return false;
        showMessage({
          title: 'Error Inesperado',
          type: 'error',
          msg: 'Por favor, inténtelo nuevamente.'
        })
      });
    }

    function submitCode(){
      var status;
      var form = document.getElementById('mfa-form');
      let params = getJsonFromUrl();
      fetch('<%=oauthMFA%>', {
        method: 'POST',
        credentials: 'include',
        headers: new Headers({
          'Content-Type': 'application/json',
          'client_id': params.clientId,
          'Authorization': 'Bearer '+ params.twoFactorToken,
          'code': form.code.value,
        })
      }).then(function(response) {
        status = response.status;
        return response.json();
      }).then(function(response) {
        if(status == 401) {
          showMessage({
            title: 'No Autorizado',
            type: 'error',
            msg: 'Su token puede haber expirado, por favor ingrese nuevamente.'
          })
        } else if(status != 200) {
          showMessage({
            title: 'Token Invalido',
            type: 'error',
            msg: 'Por favor, intente nuevamente con un nuevo código.'
          })
        } else {
          var continueTo = '<%=oauthImplicit%>';
          if(params.redirect && params.redirect.indexOf('?') >= 0)
            continueTo = [params.redirect, response.access_token].join('&token=');
          else
            continueTo = [params.redirect, response.access_token].join('?token=');
          window.location.replace(continueTo);
        }
      }).catch((e) => {
        showMessage({
          title: 'Error Inesperado',
          type: 'error',
          msg: 'Por favor, inténtelo nuevamente.'
        })
      });
    }
    document.getElementById('resend-code').addEventListener('click', function(event){
      sendSMSCode(true);
    });

    document.getElementById('confirm').addEventListener('click', function(event){
      event.preventDefault();
      submitCode();
    });

    $("[name=code]").on('keypress', function(event){
      if(event.keyCode == 13) {
        event.preventDefault();
        event.stopPropagation();
        submitCode();
      }
    });
  });
</script>

<%- include ../partial/info-display-modal.ejs %>
