<%- include ../partial/header.ejs %>
<section class="sign-form-section sign-in text-center account-created">
    <h2 class="green">Two Factor Configuration</h2>
       <div class="two-factor">

        <div class="loading">
          <i class="fa fa-circle-o-notch fa-spin" style="font-size:58px"></i>
          <h3>Serching two-factor configuration</h3></br>
        </div>

        <div class="loading-error" style="display:none">
          <h3 class="red">Error loading two-factor configuration</h2>
          <p class="text-center">Sorry, we failed to retrieve your data, please try refreshing this page.</p>
        </div>

        <div class="two-factor-enabled" style="display:none">
          <img src="/static/img/password-reset-big.png" style="height: 106px;" alt="two-factor">
          <h3>Two factor enabled</h3></br>
          <div class="form-group">
            <span id="disable" class="green-border big-btn"></span>
          </div>
        </div>

        <div class="two-factor-disabled" style="display:none">
          <img src="/static/img/password-reset-big.png" style="height: 106px;" alt="two-factor">
          <h3>Choose a MFA strategy</h3></br>
          <div class="form-group">
            <span id="enable-totp" class="green-border green-bg big-btn">ENABLE TOTP</span>
            <p class="text-center">Use the google authenticator to generete one time tokens</p>

            <span id="enable-sms" class="green-border green-bg big-btn">ENABLE SMS</span>
            <p class="text-center">Receive sms with one time tokens.</p>
          </div>
        </div>

        <span id="go-back" class="green-border big-btn">GO BACK</span>
      </div>
</section>
<%- include ../partial/footer.ejs %>

<script type="text/javascript">

  window.addEventListener('load', function() {
    fetch('<%=mfaFetch%>', {
      method: 'GET',
      credentials: 'include',
      headers: getHeaders()
    }).then(function(response) {
      if(response.status != 200 && response.status != 304)
        throw new Error("Error obtaining two-factor configuration");
      return response.json();
    }).then(function(twoFactor) {
      $(".loading").hide();
      if(twoFactor.config){
        $(".two-factor-enabled").show();
        $("#disable").html("DISABLE " + twoFactor.config.type.toUpperCase());
      }else{
        $(".two-factor-disabled").show();
      }
    }).catch(function(error){
      $(".loading").hide();
      $(".loading-error").show();
    });


    document.getElementById('disable').onclick = function(event) {
      fetch('<%=mfaDisable%>', {
        method: 'POST',
        credentials: 'include',
        headers: getHeaders()
      }).then((response) => {
        if(response.status != 200 && response.status != 304)
          showMessage({
            title: 'Error',
            type: 'error',
            msg: 'Error trying to disable two-factor authenticaton'
          });
        else
          window.location.reload();
      }).catch((error) => {
        showMessage({
          title: 'Error',
          type: 'error',
          msg: 'Error trying to disable two-factor authenticaton'
        });
      });
    };

    document.getElementById('enable-totp').onclick = function(event){
      window.location.replace('<%=mfaTOTPForm%>' + getQueryString());
    };

    document.getElementById('enable-sms').onclick = function(event){
      window.location.replace('<%=mfaSMSForm%>' + getQueryString());
    };

    document.getElementById('go-back').onclick = function(event){
      window.location.replace('<%=oauthImplicit%>');
    };
  });
</script>
