<%- include ../partial/header.ejs %>
<section class="sign-form-section sign-in text-center account-created">
    <h2 class="green">Two Factor Enabled</h2>
       <div class="two-factor">
        <h3>Please validate your token</h3></br>
        <form id="totp-form">
          <div class="form-group animate-label">
            <input name="phoneNumber" class="form-control" type="text">
            <label class="control-label">Phone number</label>
            <span id="send-code" class="send green text-uppercase pointer">Send</span>
          </div>
          <div class="form-group animate-label nocontent">
             <input name="code" class="form-control" type="text">
             <label class="control-label">2FA Code</label>
          </div>
          <span id="confirm" class="btn-green green-border big-btn">SAVE</span>
          <span id="go-back" class="green-border big-btn">GO BACK</span>
        </form>
      </div>
</section>
<%- include ../partial/footer.ejs %>

<script type="text/javascript">

  window.addEventListener('load', function() {
    document.getElementById('send-code').addEventListener('click', function(event){
      var form = document.getElementById('totp-form');

      fetch('<%=mfaSMScode%>', {
        method: 'POST',
        credentials: 'include',
        body: JSON.stringify({ phoneNumber: form.phoneNumber.value }),
        headers: getHeaders()
      }).then(function(response) {
        if(response.status == 401)
          showMessage({
            title: 'Unauthorized',
            type: 'error',
            msg: 'Your access token may be expired, please signin again.'
          })
        if(response.status != 200)
          showMessage({
            title: 'Invalid phone number',
            type: 'error',
            msg: 'Please, check your phone number.'
          })
        else
          showMessage({
            title: 'SMS token sent',
            type: 'success',
            msg: 'The MFA token has been sent to your phone.'
          })
      }).catch((e) => {
        showMessage({
          title: 'Unexpected error',
          type: 'error',
          msg: 'Please, try again later.'
        })
      });
    });

    document.getElementById('confirm').addEventListener('click', function(event){
      var form = document.getElementById('totp-form');

      fetch('<%=mfaSMSEnable%>', {
        method: 'POST',
        credentials: 'include',
        body: JSON.stringify({
          totp: form.code.value,
          phoneNumber: form.phoneNumber.value
        }),
        headers: new Headers({
          'Content-Type': 'application/json',
          'api_key': '<%=apiKey%>',
        })
      }).then(function(response) {
        if(response.status == 401)
          showMessage({
            title: 'Unauthorized',
            type: 'error',
            msg: 'Your access token may be expired, please signin again.'
          })
        if(response.status != 200)
          showMessage({
            title: 'Invalid MFA token',
            type: 'error',
            msg: 'Please, try again with a new code.'
          })
        else
          window.location.replace("<%=mfaForm%>");
        }).catch((e) => {
          showMessage({
            title: 'Unexpected error',
            type: 'error',
            msg: 'Please, try again later.'
          })
        });
    });

    document.getElementById('go-back').onclick = function(event){
      window.location.replace('<%=mfaForm%>');
    };
  });
</script>

<%- include ../partial/info-display-modal.ejs %>
