<%- include ../partial/header.ejs %>
<section class="sign-form-section sign-in text-center account-created">
    <h2 class="green">Two Factor Enabled</h2>
       <div class="two-factor">
        <img data-hook="qr-svg" class="qr-svg"/>
        <h3>Please validate your token</h3></br>
        <form id="totp-form">
          <div class="form-group animate-label nocontent">
             <input name="code" class="form-control" type="text">
             <label class="control-label">2FA Code</label>
          </div>
          <span id="confirm" class="btn-green green-border big-btn">SAVE</span>
          <span id="go-back" class="green-border big-btn">GO BACK</span>
        </form>
      </div>
</section>
<%- include ../partial/footer.ejs %>

<script type="text/javascript">

  window.addEventListener('load', function() {
    var params = getJsonFromUrl();
    document.querySelectorAll('[data-hook="qr-svg"]')[0].setAttribute('src', ('<%=mfaQRFetch%>' + getQueryString()));

    document.getElementById('confirm').addEventListener('click', function(event){
      var form = document.getElementById('totp-form');

      fetch('<%=mfaTOTPEnable%>', {
        method: 'POST',
        credentials: 'include',
        body: JSON.stringify({ totp: form.code.value }),
        headers: getHeaders()
      }).then(function(response) {
        if(response.status == 401)
          showMessage({
            title: 'Unauthorized',
            type: 'error',
            msg: 'Your access token may be expired, please signin again.'
          })
        if(response.status != 200)
          showMessage({
            title: 'Invalid MFA token',
            type: 'error',
            msg: 'Please, try again with a new code.'
          })
        else
          window.location.replace("<%=mfaForm%>");
      });
    });

    document.getElementById('go-back').onclick = function(event){
      window.location.replace('<%=mfaForm%>');
    };

  });
</script>

<%- include ../partial/info-display-modal.ejs %>
