.centered-box {
	min-height: 100%;
	margin: 5% 10% 0 10%;
	width: 80%;
}
.centered-box h2 {
	margin-top: 10px
}
.centered-box .tab-pane h4 {
	font-size: 16px;
	margin: 0;
	font-weight: 600
}
