html {
	height: 100%;
	width: 100%;
  padding: 0;
	margin: 0;
}
body {
  padding-top: 80px;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 1.42857143;
	color: #4e4e4e
}
.full-width {
	width: 100%
}
.mar-top {
	margin-top: 40px
}
.error-message {
	color: red!important;
	font-size: 12px
}
.relative {
	position: relative
}
.pointer {
	cursor: pointer
}
.white {
	color: #fff
}
.blue {
	color: #0000ff
}
.cyan {
	color: #00e5c2
}
.green {
	color: #1cb673
}
.transition {
	transition: all 0.5s ease;
}
section {
	padding: 80px 0
}
h2 {
	margin-bottom: 40px
}
.red {
	color: #ff1717
}
a, a:hover {
	color: #1cb673
}
.page-wrapper {
	height: 100%;
	position: relative;
}
.overlay {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.7);
	z-index: 998;
	display: none;
}

/* two factor start */
.two-factor {
    width: 300px;
    margin: 0 auto;
}
h4.text-uppercase {
	font-weight:700;
	margin-bottom:30px
}
.send {
	position:absolute;
	top:4px;
	right:0;
	width:auto!important
}
.main-container {
	min-height: calc(100vh - 80px - 252px)
}
/* two factor end*/

/* responsiveness */

@media (max-width: 991px) {
	.col-md-6.text-right {
		text-align: left
	}
}
@media (max-width: 767px) {
	.col-sm-6 {
		clear: both
	}
	.page-wrapper {
		height: auto
	}
}
