.price .pill .nav-tabs {
	border: none
}
.price .pill .nav-tabs>li {
	width: 50%;
	margin: 0
}
.price .pill .nav-tabs>li>a {
	border: none!important;
	background: #f5f5f5;
	font-size: 18px;
	font-weight: 500;
	padding: 13px;
	color: #cdcdcd;
	border-radius: 0
}
.price .pill .nav-tabs>li>a img {
	position: relative;
	top: -2px;
	opacity: .7
}
.price .pill .nav-tabs>li.active>a, .price .pill .nav-tabs>li.active>a:focus, .price .pill .nav-tabs>li.active>a:hover {
	padding: 13px;
	border: none!important;
	background: #fff;
	color: #00e5c2
}
.price .pill .nav-tabs>li.active>a img, .price .pill .nav-tabs>li.active>a:focus img, .price .pill .nav-tabs>li.active>a:hover img {
	opacity: 1
}