footer h4 {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 20px
}
footer {
  color: #fff;
  clear: both;
  position: relative;
  z-index: 2;
  font-size: 14px;
  background-color: #0198ff;
}

footer .row.paddedRow {
  padding-bottom: 20px;
}
footer .container {
  width: 70%;
  margin: 0 auto
}

footer .socials {
  padding-top: 16px;
  font-size: 200%;
}
footer .socials i {
  margin-right: 36px;
}
footer h4 {
  color: #fff;
  text-transform: none;
  font-weight: 500;
  padding-top: 20px;
  padding-left: 0.5em;
}

.footer-bot {
  background: rgba(255, 255, 255, 0.1);
  padding: 12px;
  color: #eee;
  font-weight: 500;
}
footer a, footer a:active, footer a:focus {
  color: #eee;
  line-height: 180%;
  text-decoration: none;
}
footer a:hover {
  color: #fff;
  text-decoration: none;
}

/* responsiveness */

@media (max-width: 767px) {
}

@media (min-width: 768px) {
}
