.border-btn {
	border: 1px solid #fff;
	border-radius: 30px;
	padding: 10px 50px;
	color: #fff;
	display: inline-block;
	cursor: pointer;
	text-transform: uppercase;
	font-size: 21px;
	margin-top: 100px
}
.border-btn:hover {
	background: #fff;
	color: #1cb673
}
.green-border {
	border: 1px solid #1cb673;
	padding: 11px 15px 10px;
	color: #1cb673;
	background: #fff;
	outline: none!important;
	border-radius: 0;
	display: inline-block;
	cursor: pointer
}
.green-border:hover, .green-border.green-bg {
	border: 1px solid #1cb673;
	color: #fff;
	background: #1cb673
}
.green-border.green-bg:hover {
	color: #1cb673;
	background: #fff
}
.has-error .control-label {
	color: red!important
}
.has-error .form-control {
	box-shadow: none!important;
	border-color: red!important
}
.bg-animate, a, .btn, .btn-green, .btn-fb, .btn-gp, button, .border-btn, .first-time .link, .dropdown-menu li, .custom-radio-btn .checkmark, .deposit-btn, .green-border {
	-webkit-transition: background-color 200ms linear;
	-ms-transition: background-color 200ms linear;
	transition: background-color 200ms linear;
}
input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 300px white inset!important;
}
.btn-primary {
	background: #00e5c2;
	color: #fff;
	border: none!important;
	border-radius: 0
}
.btn-primary:hover {
	background: #009e86;
}
.input {
	border: none;
	padding: 4px 0;
	border-bottom: 1px solid #090909;
}
.progress {
	border-radius: 0
}
.progress-bar {
	background: #1cb673
}
.checkbox-list, .checkbox-list li {
	list-style: none;
	margin: 0;
	padding: 0
}
.checkbox-list li {
	padding: 5px 0
}
.checkbox-list li label {
	font-weight: normal;
	cursor: pointer
}
.form-group {
	text-align: left
}
.form-group label {
	font-weight: normal
}
.deposit-btn {
	width: 100%;
	text-align: center;
	margin-bottom: 30px;
	font-size: 24px;
	cursor: pointer
}
.green-border .icon {
	background: #fff;
	padding: 8px 10px;
	margin: -11px 10px -10px -15px;
	display: inline-block;
	border-right: 1px solid #1cb673;
	width: 56px
}
.payment-method {
	margin-right: 20px;
	text-transform: uppercase
}
/* custom radio button style */
.custom-radio-btn {
	display: block;
	position: relative;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-weight: normal;
	height: 44px;
	margin-bottom: 30px
}
.custom-radio-btn input {
	position: absolute;
	opacity: 0;
}
.custom-radio-btn .checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 44px;
	width: 100%;
	border: 1px solid #1cb673;
	padding-top: 9px;
	color: #1cb673
}
.custom-radio-btn:hover input ~ .checkmark, .custom-radio-btn input:checked ~ .checkmark {
	background-color: #1cb673;
	color: #fff
}
.label-for-check {
	cursor: pointer;
	display: inline;
	padding-left: 5px
}
.check-with-label:checked + .label-for-check {
	font-weight: bold;
	color: #1cb673
}
.readonly, .readonly .animate-label label {
	color: #ddd!important
}
/* custom input file */
.input-file {
	position: relative
}
.input-file .legend-file {
	position: absolute;
	top: 4px;
	left: 5px
}
/* custom select arrow */
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.select {
	cursor: pointer;
	position: relative
}
.select:after {
	content: "\f107";
	font-family: "FontAwesome";
	color: #ddd;
	border-bottom: 1px solid #ddd;
	padding: 12px 8px;
	position: absolute;
	right: 0;
	top: 0;
	background: #fff;
	z-index: 1;
	text-align: center;
	width: 10%;
	height: 100%;
	pointer-events: none;
	box-sizing: border-box;
}
/* labels/placeholders animados */
.form-control, .form-control:focus {
	border: none;
	background: #fff!important;
	border-bottom: 1px solid #ddd;
	padding: 10px 12px 10px 0;
	box-shadow: none;
	height: auto;
	font-size: 16px;
	border-radius: 0
}
.animate-label {
	position: relative;
	margin-top: 10px;
	float: left;
	width: 100%
}
.animate-label input, .animate-label .select2-container .select2-choice, .animate-label select, .animate-label textarea, .animate-label .form-control, .form-control:focus {
	background: transparent!important
}
.internal-nav .animate-label input, .internal-nav .animate-label .select2-container .select2-choice, .internal-nav .animate-label select, .internal-nav .animate-label textarea, .internal-nav .animate-label .form-control, .internal-nav .form-control:focus {
	background: #fff!important
}
.animate-label label {
	position: absolute;
	left: 0;
	top: 5px;
	opacity: 1;
	font-size: 17px;
	font-weight: 400;
	letter-spacing: .4px;
	color: rgba(21,28,41,.48);
	transform-origin: left top;
	transition: color 200ms ease, transform 200ms ease;
	pointer-events: none;
	cursor: text;
	text-align: left!important;
	padding-top: 7px
}
.animate-label .radio label, .animate-label .checkbox label {
	position: relative;
	font-size: inherit;
	letter-spacing: inherit;
	color: #333;
	cursor: pointer;
	padding-top: 0;
	top: 0;
	pointer-events: auto
}
.animate-label.hascontent label {
	transform: translateY(-22px) scale(.82)
}
.animate-label.forced-has-content label {
	transform: translateY(-22px) scale(.82)!important
}
.animate-label.hascontent .radio label, .animate-label.hascontent .checkbox label {
	transform: translateY(0px) scale(1);
	float: left
}
.animate-label.hascontent .radio label input {
	margin-left: 0;
	margin-right: 4px
}
.animate-label.hascontent .checkbox label input {
	position: relative;
	top: 5px
}
form .animate-label input.error {
	border: none!important;
	border-bottom: 1px solid #DC0000!important
}
form .animate-label label.error {
	margin-top: 32px;
	font-size: 14px
}
.animate-label .radio {
	padding-left: 0
}
.animate-label.hastooltip input {
	padding-right: 30px
}
.animate-label .select2-container.select2-container-disabled .select2-choice {
	background: #f4f4f4!important;
	margin-top: 14px
}
.big-btn {
	font-size: 20px;
	padding: 20px 50px;
	margin: 30px 0;
	text-align:center;
	clear:both
}
.panel-currency input, .panel-currency select {
	border-bottom: 0
}
.panel-currency input:focus, .panel-currency select:focus {
	background: #fff!important;
	border-bottom: 0
}
.panel-currency select, .panel-currency select:focus {
	padding-left: 10px
}
.panel-currency .select:after {
	padding: 12px 20px;
	border-bottom: 0
}
/* sign in / up start */
.sign-form-section form {
	padding-bottom: 60px
}
/* .sign-in, .sign-up {
	padding: 120px 0 0
} */
.sign-form-section .input, .sign-form-section button, .sign-form-section span, .sign-form-section small {
	display: block;
	width: 100%;
	margin: 10px 0
}
.sign-form-section .btn-green, .btn-fb, .btn-gp {
	padding: 20px 0;
	font-size: 20px;
	clear: both
}
.sign-form-section .btn-green {
	border: 2px solid #1cb673;
	background: #fff
}
.sign-form-section .btn-green:hover {
	color: #fff;
	background: #1cb673
}
.sign-form-section .btn-fb, .sign-form-section .btn-gp, .sign-form-section .input, .sign-form-section p, .sign-form-section .mar-bot {
	margin-bottom: 30px
}
.btn-fb {
	border: 2px solid #425e9a;
	color: #425e9a
}
.btn-fb:hover {
	background: #425e9a;
	color: #fff
}
.btn-gp {
	border: 2px solid #e24e31;
	color: #e24e31
}
.btn-gp:hover {
	background: #e24e31;
	color: #fff
}
.sign-in form, .sign-up form {
	width: 300px;
	margin: 0 auto
}
.high-nav {
	padding-top: 10px
}
.account-created {
	padding-bottom: 60px
}
.account-created img {
	margin-bottom: 40px
}

/* responsiveness */

@media( max-width : 767px ) {
	.animate-label label {
		font-size: 16px
	}
	.big-btn {
		width:100%;
		margin-top:0
	}
}
@media( min-width : 768px ) {
	.btn-buysell {
		margin-right:15px
	}
}

@media (min-width: 768px) and (max-width: 1199px) {
	.big-btn {
		padding: 20px 30px
	}
}
