/* header start */
.navbar-default {
  background: #0198ff;
  /* background: -moz-linear-gradient(left, #28e99b 0%, #35bf9f 100%);
  background: -webkit-linear-gradient(left, #28e99b 0%, #35bf9f 100%);
  background: linear-gradient(to right, #28e99b 0%, #35bf9f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#28e99b', endColorstr='#35bf9f', GradientType=1 ); */
  border: none;
  color: #fff;
  height: 80px
}
.navbar-default .logo {
  height: 100%;
  padding: 4px;
}
