.modal {
	text-align: center;
}
.modal h4 {
	font-size: 21px
}
.modal-header {
	border: none
}
.modal-backdrop {
	background: #000
}
.modal-body {
	padding: 5px 15px 40px
}
.modal-content {
	border-radius: 0;
	text-align: center;
	box-shadow: 0 5px 15px rgba(0,0,0,.3);
	border: none
}
.modal-title {
	font-weight: 600
}
.modal-content h5 {
	text-align: left;
	clear: both;
	float: left;
	width: 100%;
	margin: 30px 0 15px
}
.pad-modal {
	padding: 10%
}
.modal-dialog {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}


/* responsiveness */


@media( max-width : 767px ) {
	#verification .modal-dialog {
		width: 90%
	}
}

@media( min-width : 992px ) {
	#verification .modal-dialog {
		width: 940px
	}
}
@media( min-width : 1200px ) {
	#verification .modal-dialog {
		width: 1024px
	}
}


@media (min-width: 768px) {
	#verification .modal-dialog {
		width: 710px
	}	
	.modal:before {
		display: inline-block;
		vertical-align: middle;
		content: " ";
		height: 100%;
	}
	.modal-content h5.mar-bot {
		margin-bottom: 57px
	}
}
