.panel-left {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	background: #f5f5f5;
	padding: 150px 15px 0 70px;
}
.panel-left h4 {
	font-family: 'SegoeUI-Bold';
	margin-bottom: 40px
}
.panel-left ul, .panel-left li {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 18px
}
.panel-left ul li ul {
	margin-left: 20px;
}
.panel-left li a {
	color: #1a1a1a;
	padding: 15px 0;
	display: block
}
.panel-left li a:hover, .panel-left li a.active {
	font-weight: 600;
	text-decoration: none;
	color: #1cb673
}
.panel-left li ul li a:hover, .panel-left li ul li a.active {
	font-weight: normal;
}

/* responsiveness */

@media (max-width: 767px) {
	.panel-left {
		display: none;
		z-index: 999;
		padding: 80px 60px 0 30px
	}
}
 @media (min-width: 768px) {
	.panel-left {
		display: block!important
	}
}
