.panel-right {
	padding: 150px 54px;
	min-height: 100%;
}
.panel-right h2, .panel-currency h2 {
	margin-top: 10px
}
.panel-right .tab-pane h4 {
	font-size: 16px;
	margin: 0;
	font-weight: 600
}
.panel-currency {
	background: #f5f5f5;
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	padding: 150px 54px
}

/* responsiveness */
@media (max-width: 991px) {
	.panel-currency {
		position: relative;
		padding: 30px 15px
	}
}
 @media (max-width: 767px) {
	.panel-right {
		width: 100%;
		margin-left: 0;
		padding: 100px 15px 15px
	}
}
@media (min-width: 768px) {
	.panel-right {
		margin-left: 33.33333333%;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.panel-currency {
		margin-left: 33.33333333%;
		width: 66.66666667%;
		padding: 30px 54px
	}
}
@media (min-width: 992px) {
	.panel-right {
		margin-left: 25%;
	}
}
@media (max-width: 1199px) {
	.panel-currency .col-xs-12.col-lg-9 {
		margin-top: 10px
	}
}
@media (min-width: 1200px) {
	.panel-right {
		margin-left: 16.66666667%;
	}
}
