<%- include ../partial/header.ejs %>
<section class="main-container">
  <div class="col-sm-8 col-md-9 col-lg-10 centered-box">
    <h2>TERMINOS Y CONDICIONES DE USO DEL SITIO WEB</h2>
    <p class="text-right">
      <span class='date hidden-xs'>Última actualización Mayo 2018</span>
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Etiam egestas wisi a erat. Et harum quidem rerum facilis est et expedita distinctio. In convallis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nunc dapibus tortor vel mi dapibus sollicitudin. Aenean fermentum risus id tortor. Etiam quis quam. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Duis viverra diam non justo. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>

    <span class="green-border green-bg big-btn" id="go-back">VOLVER</span>
  </div>
</section>
<%- include ../partial/footer.ejs %>

<script type="text/javascript">
  window.addEventListener('load', function() {
    document.getElementById('go-back').onclick = function(event){
       event.preventDefault();
       window.history.back();
     }
  });
</script>
