<%- include ../partial/header.ejs %>
<section class="sign-form-section sign-in text-center account-created">
    <h2 class="green">Authorize <b id="app-name"></b> app</h2>
      <form id="authorize-app">
        <img src="/static/img/confirm.png" alt="Confirm">
        <h3>This application request your consent</h3></br>
          <div class="form-group">
            <p id="app-disclaimer"></p>
          </div>
          <span id="accept" class="green-border green-bg big-btn" id="go-back">ACCEPT</span>
          <span id="cancel" class="green-border big-btn">CANCEL</span>
      </form>
</section>
<%- include ../partial/footer.ejs %>

<script type="text/javascript">

  window.addEventListener('load', function() {

    fetch(('<%=clientFetch%>').replace(':id', '<%=session.clientId%>'), {
      method: 'GET',
      headers: getHeaders(),
      credentials: 'include',
    }).then((response) => {
      if (response.status != 200 && response.status != 304)
        throw new Error('Invalid client id');
      return response.json();
    }).then((client) => {
      $('#app-name').html(client.name);
      client.disclaimer.forEach((d) => {
        $('#app-disclaimer').append(`<b>${d.title}: </b>${d.details}</br></br>`);
      });
    }).catch((error) => {
      showMessage({
        type: 'error',
        title: 'Invalid Client Id',
        msg: 'Client information not found'
      });
    });

    document.getElementById('accept').addEventListener('click', function(event){
      authorizeApp();
    });

    document.getElementById('cancel').addEventListener('click', function(event){
      window.location.replace("<%=oauthDestroy%>");
    });


    function authorizeApp(){
      fetch(('<%=clientAuthorize%>').replace(':id', '<%=session.clientId%>'), {
        method: 'POST',
        credentials: 'include',
        headers: getHeaders()
      }).then((response) => {
        if (response.status != 200)
          throw new Error("Error registering user");
        window.location.replace("<%=oauthImplicit%>");
      }).catch((error) => {
        showMessage({
          type: 'error',
          title: 'Something bad has happened!',
          msg: 'Error authorizing the application.'
        });
      });
    }

  });
</script>

<%- include ../partial/info-display-modal.ejs %>
