<%- include ../partial/header.ejs %>
<section>
  <div class="col-sm-8 col-md-9 col-lg-10 centered-box">
    <h2>Terms of Use</h2>
    <span class="date hidden-xs">Last updated October 2017</span>
    <h3>Lorem Ipsum</h3>
    <p>Cras laoreet elit et risus lacinia, eu mattis ligula sagittis. Sed ut euismod leo. Suspendisse id justo neque. Morbi maximus id elit sit amet pharetra. Vivamus nisl sem, pretium in sagittis eu, maximus eget felis. Nam magna magna, tempor ut odio vel, vulputate viverra elit. Vivamus aliquet, magna facilisis aliquam molestie, nisl sapien commodo nisi, at posuere arcu mauris non lorem. Aliquam eget tempus quam. Nam ullamcorper placerat libero, sit amet rhoncus leo varius id. Nulla convallis, massa vel varius finibus, augue ipsum semper ex, vel tincidunt ante nibh sed velit. Praesent tincidunt dictum lacinia. Vestibulum volutpat aliquam nulla sed imperdiet. Quisque rhoncus venenatis lacus, nec elementum velit eleifend non. Pellentesque pretium suscipit luctus. Praesent a dui scelerisque, commodo lacus quis, tristique ipsum. Sed facilisis imperdiet tempus.</p>
    <h3>Lorem Ipsum</h3>
    <p>Cras laoreet elit et risus lacinia, eu mattis ligula sagittis. Sed ut euismod leo. Suspendisse id justo neque. Morbi maximus id elit sit amet pharetra. Vivamus nisl sem, pretium in sagittis eu, maximus eget felis. Nam magna magna, tempor ut odio vel, vulputate viverra elit. Vivamus aliquet, magna facilisis aliquam molestie, nisl sapien commodo nisi, at posuere arcu mauris non lorem. Aliquam eget tempus quam. Nam ullamcorper placerat libero, sit amet rhoncus leo varius id. Nulla convallis, massa vel varius finibus, augue ipsum semper ex, vel tincidunt ante nibh sed velit. Praesent tincidunt dictum lacinia. Vestibulum volutpat aliquam nulla sed imperdiet. Quisque rhoncus venenatis lacus, nec elementum velit eleifend non. Pellentesque pretium suscipit luctus. Praesent a dui scelerisque, commodo lacus quis, tristique ipsum. Sed facilisis imperdiet tempus.</p>
    <h3>Lorem Ipsum</h3>
    <p>Cras laoreet elit et risus lacinia, eu mattis ligula sagittis. Sed ut euismod leo. Suspendisse id justo neque. Morbi maximus id elit sit amet pharetra. Vivamus nisl sem, pretium in sagittis eu, maximus eget felis. Nam magna magna, tempor ut odio vel, vulputate viverra elit. Vivamus aliquet, magna facilisis aliquam molestie, nisl sapien commodo nisi, at posuere arcu mauris non lorem. Aliquam eget tempus quam. Nam ullamcorper placerat libero, sit amet rhoncus leo varius id. Nulla convallis, massa vel varius finibus, augue ipsum semper ex, vel tincidunt ante nibh sed velit. Praesent tincidunt dictum lacinia. Vestibulum volutpat aliquam nulla sed imperdiet. Quisque rhoncus venenatis lacus, nec elementum velit eleifend non. Pellentesque pretium suscipit luctus. Praesent a dui scelerisque, commodo lacus quis, tristique ipsum. Sed facilisis imperdiet tempus.</p>
    <br/><br/><br/>
    <h2>Privacy Policy</h2>
    <span class="date hidden-xs">Last updated October 2017</span>
    <h3>Lorem Ipsum</h3>
    Nulla convallis, massa vel varius finibus, augue ipsum semper ex, vel tincidunt ante nibh sed velit. Praesent tincidunt dictum lacinia. Vestibulum volutpat aliquam nulla sed imperdiet. Quisque rhoncus venenatis lacus, nec elementum velit eleifend non. Pellentesque pretium suscipit luctus. Praesent a dui scelerisque, commodo lacus quis, tristique ipsum. Sed facilisis imperdiet tempus.</p>
    <h3>Lorem Ipsum</h3>
    Nulla convallis, massa vel varius finibus, augue ipsum semper ex, vel tincidunt ante nibh sed velit. Praesent tincidunt dictum lacinia. Vestibulum volutpat aliquam nulla sed imperdiet. Quisque rhoncus venenatis lacus, nec elementum velit eleifend non. Pellentesque pretium suscipit luctus. Praesent a dui scelerisque, commodo lacus quis, tristique ipsum. Sed facilisis imperdiet tempus.</p>
    <h3>Lorem Ipsum</h3>
    <p>Cras laoreet elit et risus lacinia, eu mattis ligula sagittis. Sed ut euismod leo. Suspendisse id justo neque. Morbi maximus id elit sit amet pharetra. Vivamus nisl sem, pretium in sagittis eu, maximus eget felis. Nam magna magna, tempor ut odio vel, vulputate viverra elit. Vivamus aliquet, magna facilisis aliquam molestie, nisl sapien commodo nisi, at posuere arcu mauris non lorem. Aliquam eget tempus quam. Nam ullamcorper placerat libero, sit amet rhoncus leo varius id. Nullaconvallis, massa vel varius finibus, augue ipsum semper ex, vel tincidunt ante nibh sed velit. Praesent tincidunt dictum lacinia. Vestibulum volutpat aliquam nulla sed imperdiet. Quisque rhoncus venenatis lacus, nec elementum velit eleifend non. Pellentesque pretium suscipit luctus. Praesent a dui scelerisque, commodo lacus quis, tristique ipsum. Sed facilisis imperdiet tempus.</p>

    <span class="green-border green-bg big-btn" id="go-back">GO BACK</span>
  </div>
</section>
<%- include ../partial/footer.ejs %>

<script type="text/javascript">
  window.addEventListener('load', function() {
    document.getElementById('go-back').onclick = function(event){
       event.preventDefault();
       window.history.back();
     }
  });
</script>
