<%- include ../partial/header.ejs %>
<section class="sign-form-section sign-in text-center account-created">
    <h2 class="green">Your user is now ready!</h2>
      <form>
        <img src="/static/img/ico-register-bis.png" alt="Confirm">
        <h3>Secure your account</h3></br>
          <div class="form-group">
            <p class="text-justify">
              First write down this number, it will be required in case you lost access to your account
            </p>

            <h2 class="text-center" id="pin">
              <i class="fa fa-circle-o-notch fa-spin"></i>
            </h2>

            <p class="text-justify">You also should enable the two factor authentication...</p>
          </div>
          <span id="accept" class="green-border green-bg big-btn" id="go-back">ACCEPT</span>
          <span id="cancel" class="green-border big-btn">SKIP</span>
      </form>
</section>
<%- include ../partial/footer.ejs %>

<script type="text/javascript">

  window.addEventListener('load', function() {

    document.getElementById('accept').addEventListener('click', function(event){
      window.location.replace("<%=mfaForm%>" + getQueryString());
    });

    document.getElementById('cancel').addEventListener('click', function(event){
      window.location.replace("<%=oauthImplicit%>");
    });

    fetch('<%=userFetchPin%>', {
      method: 'GET',
      credentials: 'include',
      headers: getHeaders()
    }).then(function(response) {
      if(response.status != 200)
        throw new Error("Error obtaining recover pin");
      return response.json();
    }).then(function(response) {
      $('#pin').html(response.pin);
      acknowledge2faRisk();
    }).catch(function(error){
      $('#pin').html('ERROR!');
    });

    function acknowledge2faRisk() {
      fetch('<%=userAcknowldege%>', {
        method: 'POST',
        credentials: 'include',
        headers: getHeaders()
      }).then(function(response) {
        if(response.status != 200)
          throw new Error("Error obtaining recover pin");
      }).catch(function(error){

      });
    }

  });
</script>
